[user]
	name = spencerschack
	email = scs1818@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[branch]
[push]
	default = current
[help]
	autocorrect = 1
[alias]
	psrb = "!f(){ git push || git pull --rebase && git push }; f"
	ps = push
	ch = checkout
	cm = "!f(){ git commit -m \"$(echo "$@")\"; }; f"
	st = status
	df = diff
	ds = diff --staged
	ad = add -A
	ap = add -p
	ac = !git ad && git cm
	acp = "!f() { git ac $@; git ps; }; f"
	acgh = "!f() { git ac $@; git gh; }; f"
	rc = rebase --continue
	rb = "!f() { \
		git ms; \
		git pull --rebase; \
		git ch -; \
		git rebase master; \
	}; f"
	nb = checkout -b
	an = !git commit --amend --no-edit
	pf = push -f
	ss = "!f() { git ch spencerschack/$@; }; f"
	ssb = "!f() { git nb spencerschack/$@ master; }; f"
	pr = "!f() { \
		branch=$(git branch-name); \
		git ms; \
		git branch -D $branch; \
		git push origin --delete $branch; \
		git pull --rebase; \
	}; f"
	branch-name = rev-parse --abbrev-ref HEAD
	ms = checkout master
[fetch]
	prune = true
