*
!.gitignore
!.zshrc
!.zshrc.d/
!.zshrc.d/*
!.bin/
!.bin/*
!.iterm2/
!.iterm2/*
!.Brewfile
!.Brewfile.lock.json
!.bento/
!.bento/*
!.automation/
!.automation/*
!.hammerspoon/
!.hammerspoon/*
!.ssh/
!.ssh/bento_user_config
!.starship.toml
